service:
    name: serverless-udagram-app

plugins:
    - serverless-webpack
    - serverless-reqvalidator-plugin
    - serverless-aws-documentation

provider:
    name: aws
    runtime: nodejs12.x
    apiGateway:
        minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
    stage: ${opt:stage, 'dev'}
    region: ${opt:region, 'us-east-1'}
    environment:
        GROUPS_TABLE: Groups-${self:provider.stage}
    iamRoleStatements:
        - Effect: Allow
          Action:
              - dynamodb:Scan
              - dynamodb:PutItem
          Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.GROUPS_TABLE}

custom:
    webpack:
        webpackConfig: ./webpack.config.js
        includeModules: true
    documentation:
        api:
            info:
                version: v1.0.0
                title: Udagram API
                description: Serverless application for images sharing
        models:
            - name: GroupRequest
              contentType: application/json
              schema: ${file(models/create-group-request.json)}

functions:
    GetGroups:
        handler: src/lambda/http/getGroups.handler
        events:
            - http:
                  method: get
                  path: groups
                  cors: true
    CreateGroups:
        handler: src/lambda/http/createGroups.handler
        events:
            - http:
                  method: post
                  path: groups
                  cors: true
                  reqValidatorName: RequestBodyValidator
                  documentation:
                      summary: Create a new group
                      description: Create a new group
                      requestModels:
                          "application/json": GroupRequest

resources:
    Resources:
        GroupsDynamoDBTable:
            Type: AWS::DynamoDB::Table
            Properties:
                AttributeDefinitions:
                    - AttributeName: id
                      AttributeType: S
                KeySchema:
                    - AttributeName: id
                      KeyType: HASH
                BillingMode: PAY_PER_REQUEST
                TableName: ${self:provider.environment.GROUPS_TABLE}
        RequestBodyValidator:
            Type: AWS::ApiGateway::RequestValidator
            Properties:
                Name: "request-body-validator"
                RestApiId:
                    Ref: ApiGatewayRestApi
                ValidateRequestBody: true
                ValidateRequestParameters: false
