service:
    name: serverless-udagram-app

plugins:
    - serverless-webpack
    - serverless-reqvalidator-plugin
    - serverless-aws-documentation

provider:
    name: aws
    runtime: nodejs12.x
    apiGateway:
        minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
    stage: ${opt:stage, 'dev'}
    region: ${opt:region, 'us-east-1'}

    environment:
        GROUPS_TABLE: Groups-${self:provider.stage}
        IMAGES_TABLE: Images-${self:provider.stage}
        IMAGE_ID_INDEX: ImageIdIndex

    iamRoleStatements:
        - Effect: Allow
          Action:
              - dynamodb:Scan
              - dynamodb:PutItem
              - dynamodb:GetItem
          Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.GROUPS_TABLE}
        - Effect: Allow
          Action:
              - dynamodb:Query
          Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.IMAGES_TABLE}
        - Effect: Allow
          Action:
              - dynamodb:Query
          Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.IMAGES_TABLE}/index/${self:provider.environment.IMAGE_ID_INDEX}

custom:
    webpack:
        webpackConfig: ./webpack.config.js
        includeModules: true
    documentation:
        api:
            info:
                version: v1.0.0
                title: Udagram API
                description: Serverless application for images sharing
        models:
            - name: GroupRequest
              contentType: application/json
              schema: ${file(models/create-group-request.json)}

functions:
    GetGroups:
        handler: src/lambda/http/getGroups.handler
        events:
            - http:
                  method: get
                  path: groups
                  cors: true
    CreateGroups:
        handler: src/lambda/http/createGroups.handler
        events:
            - http:
                  method: post
                  path: groups
                  cors: true
                  reqValidatorName: RequestBodyValidator
                  documentation:
                      summary: Create a new group
                      description: Create a new group
                      requestModels:
                          "application/json": GroupRequest
    GetImages:
        handler: src/lambda/http/getImages.handler
        events:
            - http:
                  method: get
                  path: groups/{groupId}/images
                  cors: true

    GetImage:
        handler: src/lambda/http/getImage.handler
        events:
            - http:
                  method: get
                  path: images/{imageId}
                  cors: true

resources:
    Resources:
        GroupsDynamoDBTable:
            Type: AWS::DynamoDB::Table
            Properties:
                AttributeDefinitions:
                    - AttributeName: id
                      AttributeType: S
                KeySchema:
                    - AttributeName: id
                      KeyType: HASH # HASH -> PRIMARY KEY
                BillingMode: PAY_PER_REQUEST
                TableName: ${self:provider.environment.GROUPS_TABLE}
        ImagesDynamoDBTable:
            Type: AWS::DynamoDB::Table
            Properties:
                AttributeDefinitions:
                    - AttributeName: groupId
                      AttributeType: S
                    - AttributeName: timestamp
                      AttributeType: S
                    - AttributeName: imageId
                      AttributeType: S
                KeySchema:
                    - AttributeName: groupId
                      KeyType: HASH
                    - AttributeName: timestamp
                      KeyType: RANGE # RANGE -> SORT KEY
                GlobalSecondaryIndexes:
                    - IndexName: ${self:provider.environment.IMAGE_ID_INDEX}
                      KeySchema:
                          - AttributeName: imageId
                            KeyType: HASH
                      Projection:
                          ProjectionType: ALL # What attributes to copyto global seconday index
                BillingMode: PAY_PER_REQUEST
                TableName: ${self:provider.environment.IMAGES_TABLE}
        RequestBodyValidator:
            Type: AWS::ApiGateway::RequestValidator
            Properties:
                Name: "request-body-validator"
                RestApiId:
                    Ref: ApiGatewayRestApi # API Gateway build using serverless
                ValidateRequestBody: true
                ValidateRequestParameters: false
